<div class="panel-heading subcategory-header subcategory credit">
  <div class="panel-icon">
    <a role="button" data-collapse="#panel<%= z %>1" title="collapse">
      <%= fa_icon "caret-down" %>
    </a>
  </div><!-- /panel-actions -->
  <h4 class="panel-title"><%= name %></h4>
</div><!-- /panel-heading -->