<div class="panel-heading subcategory-header subcategory debit">
  <div class="panel-icon"><i class="icon ion-navicon-round"></i></div>
  <div class="panel-actions">
    <a role="button" data-collapse="#panel<%= z %>2" title="collapse" class="btn btn-sm btn-icon">
      <%= fa_icon "caret-down" %>
    </a>
  </div><!-- /panel-actions -->
  <h4 class="panel-title"><%= name %></h4>
</div><!-- /panel-heading -->