<div class="box entry">
  <div class="row rowgrid">
    <div class="col-xs-10 entry-left">Nome de até 25 caracteres</div>
    <div class="col-xs-2 entry-right">
      <a role="button" class="dropdown-toggle" data-toggle="dropdown">
        <%= fa_icon "angle-down" %>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="row rowgrid">
    <div class="col-xs-8 entry-left">$ 1.700,00</div>
    <div class="col-xs-4 entry-right"><i class="icon ion-ios7-calendar-outline"> 30</i></div>
  </div>
</div>