<div class="box entry">
  <div class="row rowgrid">
    <div class="col-xs-10 entry-left">Nome de até 25 caracteres</div>
    <div class="col-xs-2 entry-right">
      <%= fa_icon "angle-down" %>
    </div>
  </div>
  <div class="row rowgrid">
    <div class="col-xs-8 entry-left">$ 1.700,00</div>
    <div class="col-xs-4 entry-right"><i class="icon ion-ios7-calendar-outline"> 30</i></div>
  </div>
</div>