<div class="modal fade" id="new_tag_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <%= render 'tags/form', modal: true, tag: Tag.new %>

    </div>
  </div>
</div>