<div class="panel-heading subcategory-header subcategory debit">
  <div class="panel-icon">
    <a role="button" data-collapse="#panel<%= z %>2" title="collapse" class="">
      <%= fa_icon "caret-down" %>
    </a>
  </div><!-- /panel-actions -->
  <div class="panel-actions child-category">
    <h6 class="money-value">$ 1.700,00</h6>
  </div>
  <h4 class="panel-title"><%= name %></h4>
</div><!-- /panel-heading -->