<div class="box entry">
  <div class="row rowgrid">
    <div class="col-xs-10 entry-left"><%= entry_detail.entry.title %></div>
    <div class="col-xs-2 entry-right">
      <a role="button" class="dropdown-toggle" data-toggle="dropdown">
        <%= fa_icon "angle-down" %>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="row rowgrid">

    <div class="col-xs-4 entry-left"><h6><i class="icon ion-ios7-calendar-outline"></i> 30</h6></div>
    <div class="col-xs-8 entry-right"><h6>$ <%= entry_detail.amount %></h6></div>
  </div>
</div>