<div class="modal fade modal-add-tag" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="panel-body">
        <%= form_for Tag.new, class: "form-horizontal", role: "form" do |f| %>
            <div class="form-group">
              <%= f.label "Nova Tag", class: "control-label" %>
              <div class="input-group">
                <%= f.text_field :name, class: "form-control", placeholder: "Nome" %>
                <span class="input-group-btn">
                <%= f.submit "Adicionar", class: "btn btn-success" %>
              </span>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>