<%= form_for Category.new, class: "form-horizontal", role: "form" do |fc| %>
    <div class="form-group">
      <div class="input-group">
        <%= fc.text_field :name, class: "form-control", placeholder: "Nova Categoria" %>
        <span class="input-group-btn">
            <%= fc.submit "Adicionar", class: "btn btn-success" %>
        </span>
      </div>
    </div>
<% end %>