<div class="col-xs-1 <%= if month[:number] == 1 then 'month-first' end %>">
  <div class="box month">

    <div class="month-header">
      <span class="month-name"><h5><%= month[:name] %></h5></span>
      <span class="money-value"><h5>$ 1.700,00</h5></span>
    </div>
    <div class="month-content fancy-scrollbar">

      <div id="panel1" class="panel category panel-default magic-element isotope-item" style="transform: translate3d(0px, 0px, 0px);">
        <%= render partial: 'financial_control/root_category',
                   locals: {entry_details: entry_details.revenues,
                            categories: categories.revenues,
                            positive: true,
                            month: month} %>
      </div>

      <div id="panel2" class="panel category panel-default magic-element isotope-item" style="transform: translate3d(0px, 0px, 0px);">
        <%= render partial: 'financial_control/root_category',
                   locals: {entry_details: entry_details.expenses,
                            categories: categories.expenses,
                            positive: false,
                            month: month} %>
      </div>

    </div>
  </div>
</div>