<div class="months-canvas fancy-scrollbar">
	<div class="months-area">
		<div class="row rowgrid">
			<div class="col-xs-12">
				<div class="row rowgrid">
					<% months.each do |number, name| %>
                        <%= render partial: 'financial_control/month',
                                   locals: {month: {number: number, name: name},
                                            entry_details: @entry_details.in_month(number),
                                            categories: @categories.in_month(number)} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'form_category' %>

<%= render 'form_tag' %>