<a id="notif-messages" class="btn btn-icon hide-sm dropdown-toggle active" data-toggle="dropdown" role="button">
  <i class="icon ion-chatboxes"></i>
  <span class="badge">3</span>
</a>
<ul class="dropdown-menu dropdown-extend pull-right" role="menu">
  <li class="dropdown-header">You have 3 new messages</li><!-- /dropdown-header -->
  <li class="notif-media">
    <a class="notif-item" href="messages.html">
      <div class="notif-img pull-left">
        <img src="assets/app/img/avatar11.png" alt="" class="img-circle">
      </div>
      <h3 class="notif-heading">Account Team <small>58 min</small></h3>
      <p class="notif-text">Spread the Word &amp; Earn!</p>
    </a><!-- /notif-item -->
    <a class="notif-item" href="messages.html">
      <div class="notif-img pull-left">
        <img src="assets/app/img/avatar5.png" alt="" class="img-circle">
      </div>
      <h3 class="notif-heading">Mahatma, me (6) <small>Wed</small></h3>
      <p class="notif-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, officia</p>
    </a><!-- /notif-item -->
    <a class="notif-item" href="messages.html">
      <div class="notif-img pull-left">
        <img src="assets/app/img/avatar4.png" alt="" class="img-circle">
      </div>
      <h3 class="notif-heading">Wrapbootstrap <small>Tue</small></h3>
      <p class="notif-text">Consectetur adipisicing elit. Sequi, pariatur vel eum porro quae! Eos!</p>
    </a><!-- /notif-item -->
    <a class="notif-item" href="messages.html">
      <div class="notif-img pull-left">
        <img src="assets/app/img/avatar6.png" alt="" class="img-circle">
      </div>
      <h3 class="notif-heading">Stilearning <small>Tue</small></h3>
      <p class="notif-text">Approval for new design</p>
    </a><!-- /notif-item -->
    <a class="notif-item" href="messages.html">
      <div class="notif-img pull-left">
        <img src="assets/app/img/avatar9.png" alt="" class="img-circle">
      </div>
      <h3 class="notif-heading">janesmith@mail.com <small>Mon</small></h3>
      <p class="notif-text">Consectetur adipisicing elit. Sequi, pariatur vel eum porro quae! Eos!</p>
    </a><!-- /notif-item -->
    <a class="notif-item" href="messages.html">
      <div class="notif-img pull-left">
        <img src="assets/app/img/avatar8.png" alt="" class="img-circle">
      </div>
      <h3 class="notif-heading">Microsoft Customer Support <small>Mon</small></h3>
      <p class="notif-text">Thanks for ordering Windows 8 (order #WD12345678)</p>
    </a><!-- /notif-item -->
  </li><!-- /dropdown-alert -->
  <li class="dropdown-footer">
    <a class="view-all" tabindex="-1" href="messages.html">
      <i class="icon ion-ios7-arrow-thin-right pull-right"></i> See all messages
    </a>
  </li><!-- /dropdown-footer -->
</ul><!-- /dropdown-extend -->