<a id="notif-alerts" class="btn btn-icon hide-sm dropdown-toggle" data-toggle="dropdown" role="button">
  <i class="icon ion-ios7-bell"></i>
</a>
<ul class="dropdown-menu dropdown-extend pull-right" role="menu">
  <li class="dropdown-header">Notifications</li><!-- /dropdown-header -->
  <li class="notif-minimal">
    <a class="notif-item" href="#">
      <div class="notif-ico bg-danger">
        <i class="icon ion-ios7-heart-outline"></i>
      </div>
      <p class="notif-text"><span class="text-danger">Mr. Doe</span> favorite your Post</p>
    </a><!-- /notif-item -->
    <a class="notif-item" href="#">
      <div class="notif-ico bg-warning">
        <i class="icon ion-ios7-personadd-outline"></i>
      </div>
      <p class="notif-text"><span class="text-warning">Iin T</span> register as a Member</p>
    </a><!-- /notif-item -->
    <a class="notif-item" href="#">
      <div class="notif-ico bg-success">
        <i class="icon ion-ios7-heart-outline"></i>
      </div>
      <p class="notif-text"><span class="text-success">Harab</span> purchase an Item</p>
    </a><!-- /notif-item -->
    <a class="notif-item" href="#">
      <div class="notif-ico bg-danger">
        <i class="icon ion-ios7-chatbubble-outline"></i>
      </div>
      <p class="notif-text"><span class="text-danger">Pathoel</span> Comment on your Post</p>
    </a><!-- /notif-item -->
    <a class="notif-item" href="#">
      <div class="notif-ico bg-info">
        <i class="icon ion-social-twitter-outline"></i>
      </div>
      <p class="notif-text"><span class="text-info">Imran</span> is now following you</p>
    </a><!-- /notif-item -->
    <a class="notif-item" href="#">
      <div class="notif-ico bg-success">
        <i class="icon ion-ios7-cloud-upload-outline"></i>
      </div>
      <p class="notif-text"><span class="text-success">Bent</span> upload new Portofolio</p>
    </a><!-- /notif-item -->
  </li><!-- /dropdown-alert -->
  <li class="dropdown-footer">
    <a class="view-all" tabindex="-1" href="#">
      <i class="icon ion-ios7-arrow-thin-right pull-right"></i> See all notifications
    </a>
  </li><!-- /dropdown-footer -->
</ul><!-- /dropdown-extend -->