$('select#entry_category_id').append("<option value='<%= @category.id %>'><%= @category.name %></option>");
$('select#entry_category_id').val("<%= @category.id %>");
$('#new_category_modal').modal_success();