                        <!-- app header -->
                        <div class="app-header">
                          <div class="pull-right">
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle btn-extend be-left" data-toggle="dropdown">
                                2014 <span class="caret"></span>
                                <i class="icon ion-ios7-calendar-outline"></i>
                              </button>
                              <ul class="dropdown-menu year-box" role="menu">
                                <li><a href="#">2015</a></li>
                                <li><a href="#">2016</a></li>
                                <li class="divider"></li>
                                <li>
                                  <div class="col-lg-12">
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Outro Ano">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button">
                                                          <i class="icon ion-search"></i>
                                                        </button>
                                                    </span>
                                    </div><!-- /input-group -->
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="pull-left">
                            <a href="#" class="btn btn-success btn-extend be-left credit">
                              <span class="op-currency">
                                <%= fa_icon "plus", text: fa_icon("usd 1.5x") %>
                              </span>Receita
                            </a>
                            <a href="#" class="btn btn-danger btn-extend be-left debit">
                                <span class="op-currency">
                                  <%= fa_icon "minus", text: fa_icon("usd") %>
                                </span>Despesa
                            </a>
                          </div>
                        </div>