        <!--<aside class="side-left">-->
            <!--&lt;!&ndash; side header &ndash;&gt;-->
            <!--<div class="side-header">-->

                <!--&lt;!&ndash; form search, remove class hide if you not place your brand &ndash;&gt;-->
                <!--&lt;!&ndash; (recomended: dont change the id value) &ndash;&gt;-->
                <!--<form id="smart-search" class="side-form" role="form">-->
                    <!--<input type="text" class="form-control" data-target=".side-wrapper" placeholder="Pesquisar">-->
                <!--</form>&lt;!&ndash; /side wrapper &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /side header &ndash;&gt;-->

            <!--&lt;!&ndash; side body &ndash;&gt;-->
            <!--<div class="side-body">-->
                <!--&lt;!&ndash; this you can place your search result with ajax &ndash;&gt;-->
                <!--<div class="side-wrapper side-wrapper-large">-->
                    <!--<div class="side-wrapper-status lead">Sem resultados!</div>-->
                    <!--<div class="side-wrapper-result">-->
                        <!--&lt;!&ndash; just sample result &ndash;&gt;-->
                        <!--<div class="panel panel-default bordered-none no-radius">-->
                            <!--<a href="#" class="panel-body-heading full-line">-->
                                <!--<div class="pb-object pb-object-circle pb-object-sm">-->
                                    <!--<img src="assets/app/img/avatar1.png" alt="">-->
                                <!--</div>&lt;!&ndash; /pb-object &ndash;&gt;-->
                                <!--<h3 class="pb-title pb-title-sm">-->
                                    <!--Post title <small>Lorem ipsum dolor sit amet, consectetur</small>-->
                                <!--</h3>&lt;!&ndash; /pb-title &ndash;&gt;-->
                            <!--</a>&lt;!&ndash; /panel-body-heading &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /panel &ndash;&gt;-->

                        <!--<div class="panel panel-default bordered-none no-radius">-->
                            <!--<a href="#" class="panel-body-heading full-line">-->
                                <!--<div class="pb-object pb-object-circle pb-object-sm">-->
                                    <!--<img src="assets/app/img/avatar2.png" alt="">-->
                                <!--</div>&lt;!&ndash; /pb-object &ndash;&gt;-->
                                <!--<h3 class="pb-title pb-title-sm">-->
                                    <!--Username <small>Lorem ipsum dolor sit amet, consectetur</small>-->
                                <!--</h3>&lt;!&ndash; /pb-title &ndash;&gt;-->
                            <!--</a>&lt;!&ndash; /panel-body-heading &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /panel &ndash;&gt;-->

                        <!--<div class="panel panel-default bordered-none no-radius">-->
                            <!--<a href="#" class="panel-body-heading full-line">-->
                                <!--<div class="pb-object pb-object-circle pb-object-sm">-->
                                    <!--<img src="assets/app/img/avatar3.png" alt="">-->
                                <!--</div>&lt;!&ndash; /pb-object &ndash;&gt;-->
                                <!--<h3 class="pb-title pb-title-sm">-->
                                    <!--Item name <small>Lorem ipsum dolor sit amet, consectetur</small>-->
                                <!--</h3>&lt;!&ndash; /pb-title &ndash;&gt;-->
                            <!--</a>&lt;!&ndash; /panel-body-heading &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /panel &ndash;&gt;-->

                        <!--<div class="panel panel-default bordered-none no-radius">-->
                            <!--<a href="#" class="panel-body-heading full-line">-->
                                <!--<div class="pb-object pb-object-circle pb-object-sm">-->
                                    <!--<img src="assets/app/img/avatar4.png" alt="">-->
                                <!--</div>&lt;!&ndash; /pb-object &ndash;&gt;-->
                                <!--<h3 class="pb-title pb-title-sm">-->
                                    <!--Other result <small>Lorem ipsum dolor sit amet, consectetur</small>-->
                                <!--</h3>&lt;!&ndash; /pb-title &ndash;&gt;-->
                            <!--</a>&lt;!&ndash; /panel-body-heading &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /panel &ndash;&gt;-->

                        <!--<div class="panel panel-default bordered-none no-radius">-->
                            <!--<a href="#" class="panel-body-heading full-line">-->
                                <!--<div class="pb-object pb-object-circle pb-object-sm">-->
                                    <!--<img src="assets/app/img/avatar5.png" alt="">-->
                                <!--</div>&lt;!&ndash; /pb-object &ndash;&gt;-->
                                <!--<h3 class="pb-title pb-title-sm">-->
                                    <!--Something else <small>Lorem ipsum dolor sit amet, consectetur</small>-->
                                <!--</h3>&lt;!&ndash; /pb-title &ndash;&gt;-->
                            <!--</a>&lt;!&ndash; /panel-body-heading &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /panel &ndash;&gt;-->

                        <!--<div class="panel panel-default bordered-none no-radius">-->
                            <!--<a href="#" class="panel-body-heading full-line">-->
                                <!--<div class="pb-object pb-object-circle pb-object-sm">-->
                                    <!--<img src="assets/app/img/avatar1.png" alt="">-->
                                <!--</div>&lt;!&ndash; /pb-object &ndash;&gt;-->
                                <!--<h3 class="pb-title pb-title-sm">-->
                                    <!--Post title <small>Lorem ipsum dolor sit amet, consectetur</small>-->
                                <!--</h3>&lt;!&ndash; /pb-title &ndash;&gt;-->
                            <!--</a>&lt;!&ndash; /panel-body-heading &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /panel &ndash;&gt;-->

                        <!--<div class="panel panel-default bordered-none no-radius">-->
                            <!--<a href="#" class="panel-body-heading full-line">-->
                                <!--<div class="pb-object pb-object-circle pb-object-sm">-->
                                    <!--<img src="assets/app/img/avatar2.png" alt="">-->
                                <!--</div>&lt;!&ndash; /pb-object &ndash;&gt;-->
                                <!--<h3 class="pb-title pb-title-sm">-->
                                    <!--Username <small>Lorem ipsum dolor sit amet, consectetur</small>-->
                                <!--</h3>&lt;!&ndash; /pb-title &ndash;&gt;-->
                            <!--</a>&lt;!&ndash; /panel-body-heading &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /panel &ndash;&gt;-->

                        <!--<div class="panel panel-default bordered-none no-radius">-->
                            <!--<a href="#" class="panel-body-heading full-line">-->
                                <!--<div class="pb-object pb-object-circle pb-object-sm">-->
                                    <!--<img src="assets/app/img/avatar3.png" alt="">-->
                                <!--</div>&lt;!&ndash; /pb-object &ndash;&gt;-->
                                <!--<h3 class="pb-title pb-title-sm">-->
                                    <!--Item name <small>Lorem ipsum dolor sit amet, consectetur</small>-->
                                <!--</h3>&lt;!&ndash; /pb-title &ndash;&gt;-->
                            <!--</a>&lt;!&ndash; /panel-body-heading &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /panel &ndash;&gt;-->
                    <!--</div>&lt;!&ndash; /side-wrapper-result &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /side wrapper &ndash;&gt;-->

                <!--&lt;!&ndash; separate nav for ease development &ndash;&gt;-->
                <!--<nav class="side-nav">-->
                    <!--&lt;!&ndash; open nav ul &ndash;&gt;-->
                    <!--<ul>-->
                        <!--<li class="side-nav-item active">-->
                            <!--<a href="index.html">-->
                                <!--<i class="nav-item-icon icon ion-social-rss-outline"></i>-->
                                <!--Dashboard-->
                            <!--</a>-->
                        <!--</li>&lt;!&ndash; /coverage &ndash;&gt;-->
                        <!--<li class="side-nav-item">-->
                            <!--<a href="#layouts">-->
                                <!--<i class="nav-item-caret"></i>-->
                                <!--<i class="nav-item-icon icon ion-ios7-monitor-outline"></i>-->
                                <!--Layouts-->
                            <!--</a>-->
                            <!--<ul id="layouts" class="side-nav-child">-->
                                <!--<li class="side-nav-item-heading">-->
                                    <!--<a href="#" class="side-nav-back">-->
                                        <!--<i class="nav-item-caret"></i>-->
                                        <!--Layouts-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /header layouts child &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="layout_blank.html">-->
                                        <!--<i class="nav-item-icon icon ion-laptop"></i>-->
                                        <!--Blank Page-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /blank &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="layout_static.html">-->
                                        <!--<i class="nav-item-icon icon ion-laptop"></i>-->
                                        <!--Static Header App-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /variation &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="layout_variation.html">-->
                                        <!--<i class="nav-item-icon icon ion-laptop"></i>-->
                                        <!--Variation Header App-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /variation &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="layout_transition.html">-->
                                        <!--<i class="nav-item-icon icon ion-laptop"></i>-->
                                        <!--Transition Layout-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /transition &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="layout_magic.html">-->
                                        <!--<i class="nav-item-icon icon ion-laptop"></i>-->
                                        <!--Magic Layout-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /magic &ndash;&gt;-->
                            <!--</ul>&lt;!&ndash; /layouts child &ndash;&gt;-->
                        <!--</li>&lt;!&ndash; /layout &ndash;&gt;-->
                        <!--<li class="side-nav-item">-->
                            <!--<a href="messages.html">-->
                                <!--<span class="badge">3</span>-->
                                <!--<i class="nav-item-icon icon ion-ios7-email-outline"></i>-->
                                <!--Messages-->
                            <!--</a>-->
                        <!--</li>&lt;!&ndash; /messages &ndash;&gt;-->
                        <!--<li class="side-nav-item">-->
                            <!--<a href="#uielements">-->
                                <!--<span class="badge">7</span>-->
                                <!--<i class="nav-item-caret"></i>-->
                                <!--<i class="nav-item-icon icon ion-ios7-navigate-outline"></i>-->
                                <!--UI Elements-->
                            <!--</a>-->
                            <!--&lt;!&ndash; ui elements child &ndash;&gt;-->
                            <!--<ul id="uielements" class="side-nav-child">-->
                                <!--<li class="side-nav-item-heading">-->
                                    <!--<a href="#" class="side-nav-back">-->
                                        <!--<i class="nav-item-caret"></i>-->
                                        <!--UI Elements-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /header ui elements child &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="components.html">-->
                                        <!--<span class="badge">New</span>-->
                                        <!--<i class="nav-item-icon icon ion-ios7-flag-outline"></i>-->
                                        <!--General Elements-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /components &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="typography.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-paperplane-outline"></i>-->
                                        <!--Typography-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /typography &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="grids.html">-->
                                        <!--<i class="nav-item-icon icon ion-grid"></i>-->
                                        <!--Grids-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /grids &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="buttons.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-circle-outline"></i>-->
                                        <!--Buttons-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /Buttons &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="icons.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-ionic-outline"></i>-->
                                        <!--Icons-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /icons &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="nestable_list.html">-->
                                        <!--<span class="badge">New</span>-->
                                        <!--<i class="nav-item-icon icon ion-ios7-drag"></i>-->
                                        <!--Nestable List-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /nestable list &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="calendar.html">-->
                                        <!--<span class="badge">New</span>-->
                                        <!--<i class="nav-item-icon icon ion-ios7-calendar-outline"></i>-->
                                        <!--Calendar-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /calendar &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="helper_class.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                        <!--Helper Class-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /helper class &ndash;&gt;-->
                            <!--</ul>&lt;!&ndash; /ui elements child &ndash;&gt;-->
                        <!--</li>&lt;!&ndash; /ui elements &ndash;&gt;-->
                        <!--<li class="side-nav-item">-->
                            <!--<a href="#widgets">-->
                                <!--<i class="nav-item-caret"></i>-->
                                <!--<i class="nav-item-icon icon ion-ios7-heart-outline"></i>-->
                                <!--Widgets-->
                            <!--</a>-->
                            <!--&lt;!&ndash; widgets child &ndash;&gt;-->
                            <!--<ul id="widgets" class="side-nav-child">-->
                                <!--<li class="side-nav-item-heading">-->
                                    <!--<a href="#" class="side-nav-back">-->
                                        <!--<i class="nav-item-caret"></i>-->
                                        <!--Widgets-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /header pages child &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="widget_panels.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-glasses-outline"></i>-->
                                        <!--Panels-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /panel &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="widget_kits.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-glasses-outline"></i>-->
                                        <!--Kits-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /panel &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="widget_tabs.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-glasses-outline"></i>-->
                                        <!--Tabs-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /panel &ndash;&gt;-->
                            <!--</ul>&lt;!&ndash; /widgets child &ndash;&gt;-->
                        <!--</li>&lt;!&ndash; /widgets &ndash;&gt;-->
                        <!--<li class="side-nav-item">-->
                            <!--<a href="#forms">-->
                                <!--<i class="nav-item-caret"></i>-->
                                <!--<i class="nav-item-icon icon ion-ios7-compose-outline"></i>-->
                                <!--Forms-->
                            <!--</a>-->
                            <!--&lt;!&ndash; forms child &ndash;&gt;-->
                            <!--<ul id="forms" class="side-nav-child">-->
                                <!--<li class="side-nav-item-heading">-->
                                    <!--<a href="#" class="side-nav-back">-->
                                        <!--<i class="nav-item-caret"></i>-->
                                        <!--Forms-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /header pages child &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="form_elements.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-compose-outline"></i>-->
                                        <!--Form Elements-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /form-element &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="form_wizard.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-compose-outline"></i>-->
                                        <!--Wizard & Validation-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /wizard&validation &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="form_wysiwyg.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-compose-outline"></i>-->
                                        <!--Wysiwyg-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /wysiwyg &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="form_dropzone.html">-->
                                        <!--<span class="badge">New</span>-->
                                        <!--<i class="nav-item-icon icon ion-ios7-compose-outline"></i>-->
                                        <!--Dropzone-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /dropzone &ndash;&gt;-->
                            <!--</ul>&lt;!&ndash; /forms child &ndash;&gt;-->
                        <!--</li>&lt;!&ndash; /forms &ndash;&gt;-->
                        <!--<li class="side-nav-item">-->
                            <!--<a href="tables.html">-->
                                <!--<i class="nav-item-icon icon ion-ios7-at-outline"></i>-->
                                <!--Tables-->
                            <!--</a>-->
                        <!--</li>&lt;!&ndash; /tables &ndash;&gt;-->
                        <!--<li class="side-nav-item">-->
                            <!--<a href="#charts">-->
                                <!--<i class="nav-item-caret"></i>-->
                                <!--<i class="nav-item-icon icon ion-stats-bars"></i>-->
                                <!--Charts-->
                            <!--</a>-->
                            <!--&lt;!&ndash; charts child &ndash;&gt;-->
                            <!--<ul id="charts" class="side-nav-child">-->
                                <!--<li class="side-nav-item-heading">-->
                                    <!--<a href="#" class="side-nav-back">-->
                                        <!--<i class="nav-item-caret"></i>-->
                                        <!--Charts-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /header pages child &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="chart_morris.html">-->
                                        <!--<i class="nav-item-icon icon ion-arrow-graph-up-right"></i>-->
                                        <!--Morris Chart-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /xChart &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="chart_others.html">-->
                                        <!--<span class="badge">New</span>-->
                                        <!--<i class="nav-item-icon icon ion-ios7-pie-outline"></i>-->
                                        <!--Other Charts-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /other charts &ndash;&gt;-->
                            <!--</ul>&lt;!&ndash; /charts child &ndash;&gt;-->
                        <!--</li>&lt;!&ndash; /charts &ndash;&gt;-->
                        <!--<li class="side-nav-item">-->
                            <!--<a href="#pages">-->
                                <!--<i class="nav-item-caret"></i>-->
                                <!--<i class="nav-item-icon icon ion-document"></i>-->
                                <!--Pages-->
                            <!--</a>-->
                            <!--&lt;!&ndash; pages child &ndash;&gt;-->
                            <!--<ul id="pages" class="side-nav-child">-->
                                <!--<li class="side-nav-item-heading">-->
                                    <!--<a href="#" class="side-nav-back">-->
                                        <!--<i class="nav-item-caret"></i>-->
                                        <!--Pages-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /header pages child &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="page_dashboard2.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-speedometer-outline"></i>-->
                                        <!--Dashboard #2-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /dashboard #2 &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="page_profile.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-person-outline"></i>-->
                                        <!--Profile-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /profile &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="page_gallery.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-albums-outline"></i>-->
                                        <!--Gallery-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /galery &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="page_invoice.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-checkmark-outline"></i>-->
                                        <!--Invoice-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /invoice &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="page_pricing.html">-->
                                        <!--<span class="badge">New</span>-->
                                        <!--<i class="nav-item-icon icon ion-ios7-briefcase-outline"></i>-->
                                        <!--Pricing Table-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /invoice &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="page_help.html">-->
                                        <!--<span class="badge">New</span>-->
                                        <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                        <!--Help page-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /invoice &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="page_search.html">-->
                                        <!--<span class="badge">New</span>-->
                                        <!--<i class="nav-item-icon icon ion-ios7-search-strong"></i>-->
                                        <!--Search page-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /invoice &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="page_signin.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-locked-outline"></i>-->
                                        <!--Signin Page-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /signin &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="page_404.html">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-minus-outline"></i>-->
                                        <!--404 Page-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /404 &ndash;&gt;-->
                            <!--</ul>&lt;!&ndash; /pages child &ndash;&gt;-->
                        <!--</li>&lt;!&ndash; /pages &ndash;&gt;-->
                        <!--<li class="side-nav-item">-->
                            <!--<a href="#level1">-->
                                <!--<span class="badge">4</span>-->
                                <!--<i class="nav-item-caret"></i>-->
                                <!--<i class="nav-item-icon icon ion-navicon"></i>-->
                                <!--Level Menu-->
                            <!--</a>-->
                            <!--&lt;!&ndash; /level menu child &ndash;&gt;-->
                            <!--<ul id="level1" class="side-nav-child">-->
                                <!--<li class="side-nav-item-heading">-->
                                    <!--<a href="#" class="side-nav-back">-->
                                        <!--<i class="nav-item-caret"></i>-->
                                        <!--Level Menu-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /header level menu child &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="#">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                        <!--Menu-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /menu &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="#level2">-->
                                        <!--<i class="nav-item-caret"></i>-->
                                        <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                        <!--Go to level 2-->
                                    <!--</a>-->
                                    <!--<ul id="level2" class="side-nav-child">-->
                                        <!--<li class="side-nav-item-heading">-->
                                            <!--<a href="#" class="side-nav-back">-->
                                                <!--<i class="nav-item-caret"></i>-->
                                                <!--Go to level 2-->
                                            <!--</a>-->
                                        <!--</li>&lt;!&ndash; /header level2 child &ndash;&gt;-->
                                        <!--<li class="side-nav-item">-->
                                            <!--<a href="#level3">-->
                                                <!--<i class="nav-item-caret"></i>-->
                                                <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                                <!--Go to level 3-->
                                            <!--</a>-->
                                            <!--<ul id="level3" class="side-nav-child">-->
                                                <!--<li class="side-nav-item-heading">-->
                                                    <!--<a href="#" class="side-nav-back">-->
                                                        <!--<i class="nav-item-caret"></i>-->
                                                        <!--Go to level 3-->
                                                    <!--</a>-->
                                                <!--</li>&lt;!&ndash; /header level3 child &ndash;&gt;-->
                                                <!--<li class="side-nav-item">-->
                                                    <!--<a href="#">-->
                                                        <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                                        <!--List menu-->
                                                    <!--</a>-->
                                                <!--</li>&lt;!&ndash; /list menu &ndash;&gt;-->
                                                <!--<li class="side-nav-item">-->
                                                    <!--<a href="#">-->
                                                        <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                                        <!--Other list Menu-->
                                                    <!--</a>-->
                                                <!--</li>&lt;!&ndash; /other list menu &ndash;&gt;-->
                                                <!--<li class="side-nav-item">-->
                                                    <!--<a href="#">-->
                                                        <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                                        <!--Unlimited Menu-->
                                                    <!--</a>-->
                                                <!--</li>&lt;!&ndash; /unlimited menu &ndash;&gt;-->
                                            <!--</ul>&lt;!&ndash; /level3 child &ndash;&gt;-->
                                        <!--</li>&lt;!&ndash; /level3 &ndash;&gt;-->
                                    <!--</ul>&lt;!&ndash; /level2 child &ndash;&gt;-->
                                <!--</li>&lt;!&ndash; /level2 &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="#">-->
                                        <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                        <!--Other menu-->
                                    <!--</a>-->
                                <!--</li>&lt;!&ndash; /other menu &ndash;&gt;-->
                                <!--<li class="side-nav-item">-->
                                    <!--<a href="#otherlevel2">-->
                                        <!--<i class="nav-item-caret"></i>-->
                                        <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                        <!--Other level 2-->
                                    <!--</a>-->
                                    <!--<ul id="otherlevel2" class="side-nav-child">-->
                                        <!--<li class="side-nav-item-heading">-->
                                            <!--<a href="#" class="side-nav-back">-->
                                                <!--<i class="nav-item-caret"></i>-->
                                                <!--Other level 2-->
                                            <!--</a>-->
                                        <!--</li>&lt;!&ndash; /header other level2 &ndash;&gt;-->
                                        <!--<li class="side-nav-item">-->
                                            <!--<a href="#">-->
                                                <!--<i class="nav-item-icon icon ion-ios7-help-outline"></i>-->
                                                <!--List menu #other-->
                                            <!--</a>-->
                                        <!--</li>&lt;!&ndash; /other menu #other &ndash;&gt;-->
                                    <!--</ul>&lt;!&ndash; /other level2 child &ndash;&gt;-->
                                <!--</li>&lt;!&ndash; /other level2 &ndash;&gt;-->
                            <!--</ul>&lt;!&ndash; /level menu child &ndash;&gt;-->
                        <!--</li>&lt;!&ndash; /level menu &ndash;&gt;-->
                    <!--</ul>&lt;!&ndash; /nav ul&ndash;&gt;-->
                <!--</nav>-->

            <!--</div>&lt;!&ndash; /side body &ndash;&gt;-->
        <!--</aside>&lt;!&ndash; /side left &ndash;&gt;-->